.garfield{
    border: 2px solid rgba(37, 0, 97);
}

#serj{
    border: 5px double rgba(28, 0, 73, 0.678);
    background-color: rgb(218, 194, 255);
    padding: 15px 15px;
    margin-left: 32rem;
}

.head{
    color: rgb(79, 52, 122);   
    background-color:  rgb(218, 194, 255);
}
.fundo-serj{
    background-color: rgb(79, 52, 122);   
}
.fundo-refs{
    background-color: rgb(218, 194, 255);
}

.paragrafo{
    color: rgb(218, 194, 255);
}


#voltar-link{
    color: rgb(218, 194, 255);
}
#voltar-link:hover{
    color: rgb(22, 0, 56);
}